<%- include('partials/recordHeader') -%> 


<h1 class="mx-auto text-2xl text-center font-tenor mt-3">Past Practica</h1>
<h2 class="mx-auto text-l text-center font-tenor">Recently Added Speech Segments</h2>
<main class="mx-auto p-6 my-4">
    <ul class="mb-20">
        <% for (let [key,value] of Object.entries(speech)) { %>
            <form action="/practica/deletePracticum/<%= key%>?_method=DELETE" method="POST" class="p-2">
                <li class="flex items-center justify-between outline-1 outline-primary outline rounded-lg"><span class="px-3">
                    <a href="/analysis/<%= key%>"><i class="fa-solid fa-robot text-primary"></i></a> 
                    <%# if (speech[status] === "analyzed") {%>
                        <!-- <a href="/analysis/<%#= key%>"><i class="fa-solid fa-robot text-primary"></i></a> -->
                    <%# } else {%> 
                        <!-- <a href="/analysis/<%#= key%>"><i class="fa-solid fa-regular fa-note-sticky text-primary"></i></a>  -->
                    <%# }%>
                    </span> <span class="w-full font-fjalla text-l py-1"><%= value %></span><span><button class="btn outline-none border-none bg-inherit text-inherit">
                <i class="fa-solid fa-trash-can"></i>

                </button></span>
                </li>
            </form>
        
        <% } %> 
    </ul>
</main>


<%- include('partials/footer') -%>